.done{
    text-decoration: line-through;
    background-color: rgb(243, 243, 243);
    color: green;
}

body{
    padding: 10px;
}

table tr td{
    border: none;
    cursor: pointer;
}

table tr td:nth-child(1){
    width: 400px;
}

.remove-task{
    color: blue;
    font-size: 15px;
    display: inline-block;
    margin-top: 6px;
}
